.container {
  max-width: 1270px;
  margin: 0 auto;
  color: white;
  background-color: inherit;
  padding: 50px 0;

  .create-button {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 10px 15px;
    background-color: var(--bgCard);
    border: 1px solid rgba(255, 255, 255, 0.676) !important;
    border-radius: 10px;

    .mat-icon {
      transform: translateY(-2px);
    }
  }

  .property-panel {
    margin-top: 20px;
    color: white;
    background-color: var(--bgCard);

    .content {
      display: flex;
      flex-direction: row;

      app-animation-property-editor {
        flex-grow: 1;
        width: 50%;
      }
      app-animation-graph {
        flex-grow: 1;
      }
    }

    .panel-header {
      padding: 18px 24px;
      height: auto;

      .graph-icon {
        padding: 9px 9px 5px 11px;
        margin-right: 2px;
        border-radius: 10px 0 0 10px;
        background-color: var(--bgColor);
      }

      .type-select {
        width: 160px;
        background-color: var(--bgColor);
        padding: 10px 15px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 0 10px 10px 0;
        overflow: hidden;

        ::ng-deep {
          .mat-select-value {
            color: white;
          }
        }
      }
      .subtitle {
        color: var(--gray);
        justify-content: flex-start;
        align-items: center;
        flex-basis: 0;

        ::ng-deep {
          strong {
            color: white !important;
          }
        } 
      }
    }
  }
}