<div class="container">
  <div #animationContainer></div>
  <div class="demo-box" #demoBox></div>
  <button mat-button class="create-button" (click)="addTimeMap()">
    <mat-icon aria-hidden="false" aria-label="Add">add</mat-icon>
    Create Time Graph
  </button>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let tm of timeMaps; index as i" class="property-panel" [disabled]="selectingType" hideToggle="">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          <div class="graph-icon">
            <mat-icon *ngIf="tm.type == 'Bezier' || tm.type == 'Polynomial'" style="color: white;">insights</mat-icon>
            <mat-icon *ngIf="tm.type == 'Spring'" style="color: white;">expand</mat-icon>
            <mat-icon *ngIf="tm.type == 'Linear'" style="color: white;">timeline</mat-icon>
            <mat-icon *ngIf="tm.type == 'Custom'" style="color: white;">code</mat-icon>
          </div>
          <mat-select [(value)]="tm.type" class="type-select" (mouseenter)="setSelectingType(true)" (mouseleave)="setSelectingType(false)">
            <mat-option *ngFor="let type of mapTypes" [value]="type" class="type-option">{{type}}</mat-option>
          </mat-select>
        </mat-panel-title>
        <!-- <mat-panel-title>{{tm.type + " Graph"}}</mat-panel-title> -->
        <mat-panel-description class="subtitle" [innerHTML]="panelDescriptions[i]"></mat-panel-description>
      </mat-expansion-panel-header>
      <div class="content">
        <app-animation-graph [type]="tm.type" [(points)]="tm.bezierPoints" (framesChange)="onFramesChanged($event, tm)"></app-animation-graph>
        <app-animation-property-editor [properties]="tm.properties"></app-animation-property-editor>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>