<div class="container">
  <app-animation-options [frames]="cssFrames" (classChange)="updateAnimationClass($event)"></app-animation-options>
  <div #animationContainer></div>
  <app-animation-demo></app-animation-demo>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let tm of timeMaps; index as i" class="property-panel" [disabled]="selectingType" hideToggle="">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          <div class="graph-icon">
            <mat-icon *ngIf="tm.type == 'Bezier' || tm.type == 'Polynomial'" style="color: white;">insights</mat-icon>
            <mat-icon *ngIf="tm.type == 'Spring'" style="color: white;">expand</mat-icon>
            <mat-icon *ngIf="tm.type == 'Linear'" style="color: white;">timeline</mat-icon>
            <mat-icon *ngIf="tm.type == 'Custom'" style="color: white;">code</mat-icon>
          </div>
          <mat-select [(value)]="tm.type" class="type-select" (mouseenter)="setSelectingType(true)" (mouseleave)="setSelectingType(false)">
            <mat-option *ngFor="let type of mapTypes" [value]="type" class="type-option">{{type}}</mat-option>
          </mat-select>
        </mat-panel-title>
        <mat-panel-description class="description" [style.overflow]="description.clientWidth > 500 ? 'auto' : 'hidden'">
          <div #description>
            <mat-chip-list aria-label="Property selection" class="chip-list">
              <mat-chip *ngFor="let prop of tm.properties; index as j" class="chip">
                <div class="chip-text">{{prop.func}}</div>
                <button matChipRemove [attr.aria-label]="'remove ' + prop.func" (click)="removeProperty(i, j)">
                  <mat-icon style="color: var(--gray);">close</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>
          </div>
          <mat-form-field class="example-full-width" appearance="fill" 
                          class="add-property-form" 
                          (mouseenter)="setSelectingType(true)" 
                          (mouseleave)="setSelectingType(false)">
            <input type="text"
                   placeholder="Add property"
                   aria-label="Number"
                   matInput
                   [formControl]="chipControl"
                   [matAutocomplete]="auto"
                   class="input">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)='addChip($event.option.value, tm)'>
              <mat-option *ngFor="let option of filteredCssFunctions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-panel-description>
        <button class="close-button" (click)="removeTimeMap(i)">
          <mat-icon style="color: var(--gray);">close</mat-icon>
        </button>
      </mat-expansion-panel-header>
      <div class="content">
        <app-animation-graph [type]="tm.type" [(points)]="tm.bezierPoints" (framesChange)="onFramesChanged($event, tm)"></app-animation-graph>
        <app-animation-property-editor [properties]="tm.properties" (propertyChange)="generateCssFrames()"></app-animation-property-editor>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-button class="create-button" (click)="addTimeMap()">
    <mat-icon aria-hidden="false" aria-label="Add">add</mat-icon>
    Create Time Graph
  </button>
</div>