.property-editor-container {
  padding: 0;
  min-height: 500px;
  overflow: hidden;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;

  .animation-property-flex-item {
    flex-grow: 1;
  }
}