.graph-container {
  margin: 10px 0;

  .create-button {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 5px 12px;
    background-color: var(--bgCard);
    border: 1px solid rgba(255, 255, 255, 0.676) !important;
    border-radius: 10px;

    .mat-icon {
      transform: translateY(-1px);
    }
  }

  .canvas-container {
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;
  }
}