.container {
  max-width: 1270px;
  height: 284px;
  margin: 0 auto;
  color: white;
  background-color: var(--bgGraph);
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #ffffff23 1px, rgba(0, 0, 0, 0) 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .demo-box {
    height: 100px;
    width: 100px;
    background-color: var(--primaryDim);
    border: 4px solid var(--primary);
    z-index: 10;
  }
  .demo-box:hover {
    cursor: pointer;
  }

  .loader {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 20px;
    aspect-ratio: 1;
    transform: rotate(-45deg);
    transform-origin: center;

    .spinner {
      border-radius: 200px;
      border: 3px solid transparent;
      border-top: 3px solid var(--primary);
      position: absolute;
      width: calc(100% - 6px);
      aspect-ratio: 1;
      top: 0;
      left: 0;
    }
  }
}