.container {
  max-width: 1270px;
  height: 284px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: white;
  background-color: rgb(25, 33, 42);
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #ffffff23 1px, rgba(0, 0, 0, 0) 1px);
  display: flex;
  align-items: center;
  justify-content: center;

  .demo-box {
    height: 100px;
    width: 100px;
    background-color: var(--primaryDim);
    border: 4px solid var(--primary);
  }

  .demo-box:hover {
    cursor: pointer;
  }
}