/* You can add global styles to this file, and also import other style files */
@import "@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-blue, 800);
$my-accent: mat-palette($mat-amber, 800);

$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);

html, body { height: 100%; }

body { 
  --bgCard: #303f4f;
  --bgColor: #293542;
  --primary: #1976d2;
  --primaryDim: #1976d25f;

  --medOrange: #f53303;
  --gray: #afafaf;
  background-color: var(--bgColor);
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.shadow-border {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 10%), 0 1px 1px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 10%) !important;
  border: 1px solid #435162;
  border-radius: 12px;
}