/* You can add global styles to this file, and also import other style files */
@import "@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-blue, 800);
$my-accent: mat-palette($mat-amber, 800);

$my-theme: mat-dark-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);

html, body { height: 100%; }

:root {
  --bgCard: hsl(211 26% 24% / 1);
  --bgColor: hsl(211 26% 20% / 1);
  --bgInput: hsl(211 26% 20% / 1);
  --bgGraph: rgb(25, 33, 42);
  --primary: #1976d2;
  --primaryDim: #1976d25f;
  --medOrange: #f53303;
  --gray: #c3c3c3;
}

body {
  background-color: var(--bgColor);
  margin: 0;
  height: auto !important;
  font-family: 'Source Sans Pro', sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(25, 33, 42);
  border-radius: 5px;
}

.white-border {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 10%), 0 1px 1px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 10%) !important;
  border: 1px solid #435162;
  border-radius: 12px;
}

.shadow-border {
  border-radius: 12px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}