.property-container {
  min-height: 250px;
  min-width: 200px;
  overflow: hidden;

  .header {
    background-color: var(--bgColor);
    padding: 10px 20px 10px;

    h1 {
      margin: 0;
      text-transform: capitalize;
    }
  }

  .property-settings {
    margin:10px;
    margin-left: 20px;

    .input-row {
      display: flex;
      align-items: center;
      gap: 6px;

      &.limit-range {
        margin-left: 10px;
      }

      .label {
        font-size: 16px;
      }

      &.limit-checkbox {
        display: flex;
        margin-top: 10px;
        margin-bottom: 2px;

        .label {
          margin-right: 8px;
        }
      }

      .form-field {
        transform: translateY(10px);
        margin-left: 5px;

        ::ng-deep {
          .mat-form-field-wrapper {
            padding-bottom: 1em;
          }
          .mat-form-field-flex {
            background-color: var(--bgCard);
            padding-top: 0;
            padding-right: 0.1em;
          }
          .mat-form-field-infix {
            border-top: 0;
          }
        }

        &.select {
          max-width: 72px;

          .unit-select {
    
            ::ng-deep {
              .mat-select-value {
                color: white;
              }
              .mat-select-arrow-wrapper {
                transform: translateY(0px);
              }
              .mat-form-field-underline {
                background-color: var(--accent) !important;
              }
            }
          }
        }

        &.number {
          max-width: 64px;

          .num-input {
            width: 100%;
          }
          .suffix {
            position: absolute;
            color: var(--gray);
            top: 18%;
            left: 130%;
          }
        }

        &.limit {
          max-width: 64px;

          .num-input {
            width: 100%;
          }
        }

        ::ng-deep {
          .mat-form-field-flex {
            padding-left: 0.4em;
          }
        }
      }
    }
  }

  input {
    width: 55%;
  }

}
