<div class="property-container shadow-border">
  <div class="header">
    <h1>{{property}}</h1>
  </div>
  <div>
    <table class="property-settings-table">

      <tr>
        <td class="label">
            Start at
        </td>
        <td>
          <mat-form-field class="form-field number" appearance="fill">
            <input matInput type="number" class="num-input" (keyup)="updateStart($event)" value={{start}}>
            <span matTextSuffix>{{unit}}</span>
          </mat-form-field>
          
        </td>
      </tr>
      <tr>
        <td class="label">
          End at
        </td>
        <td>
          <mat-form-field class="form-field number" appearance="fill">
            <input matInput type="number" class="num-input" (keyup)="updateEnd($event)" value={{end}}>
            <span matTextSuffix>{{unit}}</span>
          </mat-form-field>
        </td>
      </tr>
      <tr *ngIf="hasUnits">
        <td class="label">
          Units
        </td>
        <td>
          <mat-form-field class="form-field select" appearance="fill" style="color:white" color="primary">
            <mat-select (selectionChange)="updateUnit($event)" value="{{unit}}" class="unit-select">
              <mat-option *ngFor="let unitOp of getUnits()" value={{unitOp}}>{{unitOp}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>

</div>
