.property-container {
  min-height: 250px;

  .header {
    background-color: var(--bgColor);
    padding: 10px 20px 10px;

    h1 {
      margin: 0;
    }
  }


  .property-settings-table {
    margin:10px;
    margin-left: 20px;

    .label {
      font-size: 16px;
    }

    .form-field {
      transform: translateY(5px);
      margin-left: 5px;

      ::ng-deep {
        .mat-form-field-flex {
          background-color: var(--bgCard);
        }
        .mat-form-field-infix {
          border-top: 0;
        }
      }

      &.select {
        max-width: 80px;

        .unit-select {
  
          ::ng-deep {
            .mat-select-value {
              color: white;
            }
            .mat-select-arrow-wrapper {
              transform: translateY(0px);
            }
            .mat-form-field-underline {
              background-color: var(--accent) !important;
            }
          }
        }
      }

      &.number {
        max-width: 80px;
      }
    }
  }

  input {
    width: 55%;
  }

}
