.property-container {
  min-height: 250px;

  .header {
    background-color: var(--bgColor);
    padding: 10px 20px 10px;

    h1 {
      margin: 0;
    }
  }

}

.unitSelect {
  ::ng-deep {
    .mat-select-value {
      color: white;
    }
  }
}


.property-settings-table {
  margin:10px;

  ::ng-deep {
    .mat-form-field-flex {
      background-color: var(--bgCard);
      // padding-top: 0;
    }
    .mat-form-field-infix {
      padding: 0.25em 0 0.75em 0;
  }
  }
}